#body{
    background-color: black;
}

.container-fluid{
    width:100%;
    justify-content:center;
}

.jumbotron{
    background-color: burlywood;
    margin-top: 25px;
    margin-bottom: 25px;
}

#jumbotitle,#jumbopara{
    color:teal;
    text-align: center;
}

#buttons{
    display: flex;
    justify-content: center;
    background-color: black;
}

#playbtn{
    margin: 15px;
    background-color: purple;
    color:white;
}

table,td{
    text-align: center;
    color:teal;
}
th{
    color: rebeccapurple;
}

#poke_row{
    background-color: aquamarine;
}

#checked_row{
    background-color: chartreuse;
}

tr{
    background-color:burlywood;
}

#p1name,#p2name{
    height:50px;
    width:500px;
    font-size:xx-large;
    text-align:center;
}

#p1tablejumbo{
    justify-content:center;
}

/* SET TO SPECIFIC ID FOR ROSTER SELECT TABLE */
/* #roster_table{
    display:none;
}
#roster_head{
    display: none;
} */