#body{
    background-color: black;
}

#navolink{
    color:white;
}

#filterbtns{
    background-color:burlywood;
    text-align:center;
    font-size:xx-large;
}

.container-fluid{
    width:100%;
    justify-content:center;
}

.jumbotron{
    background-color: burlywood;
    margin-top: 25px;
    margin-bottom: 25px;
}

#jumbotitle,#jumbopara{
    color:teal;
    text-align: center;
}

#buttons{
    display: flex;
    justify-content: center;
    background-color: black;
}

#playbtn{
    margin: 15px;
    background-color: purple;
    color:white;
}

table td{
    text-align: center;
    color:teal;
}
th{
    color: maroon;
    background-color:burlywood;
    text-align:center;
}

#poke_row{
    background-color: aquamarine;
}

#checked_row{
    background-color: chartreuse;
}

/* Table Styling */
.tablewrapper thead th{
    position:sticky;
    top:0;
}

.thead th{
    background-color:black;
}

.tablewrapper{
    overflow-y:auto;
    overflow-x:auto;
    height:666px;
}

tr{
    background-color:burlywood;
}

#p1name,#p2name{
    height:50px;
    width:500px;
    font-size:xx-large;
    text-align:center;
}

#p1tablejumbo{
    justify-content:center;
}

#typeimg{
    width:66px;
}

#typeimg_pokedex{
    width:66px;
}

#typesheader{
    color:black;
}

#poketablerow {
    vertical-align:middle;
    font-weight:bold;
    font-size:large;
    color:black;
  }

  #typesrow {
    vertical-align:middle;
    font-weight:bold;
    font-size:large;
    color:black;
  }

  #pokeimg{
      width:166px;
  }

  #no_dmg,#quarter_dmg, #half_dmg, #single_dmg, #double_dmg, #quadruple_dmg{
    vertical-align:middle;
    font-weight:bold;
    font-size:large;
    color:black;
  }

#no_dmg{
    background-color:red;
}
#quarter_dmg{
    background-color:orange;
}
#half_dmg{
    background-color:yellow;
}
#double_dmg{
    background-color:lightgreen;
}
#quadruple_dmg{
    background-color:lightblue;
}



/* SET TO SPECIFIC ID FOR ROSTER SELECT TABLE */
/* #roster_table{
    display:none;
}
#roster_head{
    display: none;
} */