<!DOCTYPE html>
<html lang="en-us">
<head>
  <meta charset="UTF-8">
  <title>Poke Fight II</title>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="static/css/style.css">

</head>

<body id="body">

<div class="container-fluid">
    <div class="jumbotron">
        <h1 id="jumbotitle">
            Welcome to Poke Fight II
        </h1>
        <hr>
        <p id="jumbopara">
            This is currently a work in progress, but I'm attempting to convert
            a previous text-based Pokemon fighting game I wrote in Python to an
            online GUI-based game with JavaScript backend functionality. It is a side
            project to work, school, job-hunting, life, etc so may be slow going but
            all in good time. Then the stretch goal is to make it multiplayer locally,
            as well as online from different machines 0_0. We'll see. iPwn.
        </p>
    </div>
    <div class="row" id="buttons">
        <button id="playbtn" onclick="window.location.href='match_setup';">
            Play a Match
        </button>
    </div>
</div>


<script src="https://d3js.org/d3.v5.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.7.1/d3-tip.min.js"></script>
<script type="text/javascript" src="static/js/app0.js"></script>
</body>

</html>