<!DOCTYPE html>
<html lang="en-us">
<head>
  <meta charset="UTF-8">
  <title>Poke Fight II</title>
  <link rel="shortcut icon" type="image/jpg" href="static/images/pokeball.png"/>
  <!-- Bootstrap & Local CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="static/css/style_redo.css">
    <!--NAVBAR--------------------------------------------------------------------->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" onclick="leave_match()" style="color:gold;">Poke Fight II</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" id="navolink"><u>Play</u></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/pokedex" id="navolink" target="_blank">Pokedex</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/types" id="navolink" target="_blank">Types</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/info_menu" id="navolink" target="_blank">Info</a>
          </li>
        </ul>
      </div>
    </nav>
  <!--NAVBAR END------------------------------------------------------------------->
<!-- Close Header -->
</head>

<body style="background-color:black;">
  <!-- Place hidden variables from match setup to grab with JS -->
  <div class="hidden_vars">
    <div id="nplayers">{{nplayers}}</div>
    <div id="npoke">{{npoke}}</div>
    <div id="p1name">{{p1_name}}</div>
    {% for i in p1_roster %}
    <div name="p1roster">{{i}}</div>
    {% endfor %}
    <div id="p2name">{{p2_name}}</div>
    {% for i in p2_roster %}
    <div name="p2roster">{{i}}</div>
    {% endfor %}
  </div>

  <div class="row" id="endgame"></div>
  <div id="p1rosterdiv"></div>
  <div id="p2rosterdiv"></div>
  <div class="row" id="battleinterface"></div>

<!-- Web Dependencies -->
<script src="https://d3js.org/d3.v5.min.js"></script>
<script src="https://d3js.org/d3.v6.min.js"></script>
<script src="static/js/TESTERZ.js"></script>
<script src="static/js/match_active.js"></script>
</body>

</html>