<!DOCTYPE html>
<html lang="en-us">
<head>
  <meta charset="UTF-8">
  <title>Poke Fight II</title>
  <!-- Bootstrap & Local CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="static/css/style_redo.css">
    <!--NAVBAR--------------------------------------------------------------------->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" onclick="leave_match()" style="color:gold;">Poke Fight II</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" id="navolink"><u>Play</u></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/pokedex" id="navolink" target="_blank">Pokedex</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/types" id="navolink" target="_blank">Types</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/info_menu" id="navolink" target="_blank">Info</a>
          </li>
        </ul>
      </div>
    </nav>
  <!--NAVBAR END------------------------------------------------------------------->
<!-- Close Header -->
</head>


<body id="body">
  <!-- Open POST form to pass data to match_active -->
  <form method='POST' action='/match_active'>
  <!-- Hidden Variable Storage -->
  <input id="nplayers_div" name="nplayers" style="display:none;">
  <input id="npoke_div" name="npoke" style="display:none;">
  <input id="weight_class_div" style="display:none;">
  <input id="generation_div" style="display:none;">
  <input id="p1_name_div" name="p1_name" style="display:none;">
  <div id="p1_roster_div" style="display:none;"></div>
  <input id="p2_name_div" name="p2_name" style="display:none;">
  <div id="p2_roster_div" name="p2_roster" style="display:none;"></div>
  <button id="ghost_submit" type="submit" value="Submit" style="display:none;"></button>
  </form>
  <!-- RADIOS -------------------------------------------->
  <!-- Radios for Selecting Match Parameters -->
  <div class="container-fluid" id="radios_container">
    <nplayers_radiosdiv></nplayers_radiosdiv>
    <npoke_radiosdiv></npoke_radiosdiv>
    <weight_class_radiosdiv></weight_class_radiosdiv>
    <generation_radiosdiv></generation_radiosdiv>
    <button onclick="xfer_matchvars2nameinput()">Continue</button>
  </div>
  <!-- Clear Radios & Load P1 Name Input -->
  <!-- <div class="row">

  </div> -->
  <!-- END RADIOS -------------------------------------------->


  <!-- NAME INPUT -------------------------------------------->
  <div class="container-fluid" id="nameinput_container">
    <nameinput></nameinput>
  </div>
  <!-- END NAME INPUT -------------------------------------------->


  <!-- ROSTER SELECT -------------------------------------------->
  <div class="container-fluid" id="rosterselect_container"  style="display:none;">
    <rosterselectprompt></rosterselectprompt>
    <!-- Table Proper -->
    <div class="rosterselect_wrapper">
        <table class="pokedex">
            <thead class="pokedex_header"></thead>
            <tbody class="pokedex_body"></tbody>
        </table>
    </div>
  </div>
  </div>
  <!-- END ROSTER SELECT -------------------------------------------->





  <!-- Web Dependencies -->
  <script src="https://d3js.org/d3.v5.min.js"></script>
  <script src="https://d3js.org/d3.v6.min.js"></script>
  <!-- Local JS -->
  <script src="../static/js/match_setup.js"></script>
<!-- Close Body -->
</body>
<!-- Close HTML -->
</html>