<!DOCTYPE html>
<html lang="en-us">
<head>
  <meta charset="UTF-8">
  <title>Poke Fight II</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="static/css/style.css">


</head>

<body id="body">

  <h1 id="nplayers" style="display:none;">{{nplayers}}</h1>
  <h1 id="npoke" style="display:none;">{{npoke}}</h1>
  <h1 id="weight_class" style="display:none;">{{weight_class}}</h1>
  <h1 id="gen" style="display:none;">{{gen}}</h1>

  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="jumbotron" id="p1jumbo" style="width:100%;">
          <h2 id="jumbotitle">Player 1, enter your name!</h2>
          <hr>
          <div class="row" id="buttons" style="background-color:burlywood;">
            <input type="text" id="p1name">
          </div>
          <div class="row" id="buttons" style="background-color:burlywood;">
            <button onclick="roster_table()">Continue</button>
          </div>
          
        </div>
        <div class="jumbotron" id="p1tablejumbo" style="display:none;">
          <h1 id="jumbotitle" class="p1rosterprompt">Select {{npoke}} Pokemon, then click the button to proceed</h1><br>
          <row id="buttons" style="background-color:burlywood;">
            <button id="p1continue"></button>
          </row>
          <div class="tablewrapper">
            <table class="table" id="roster_table" style="width:100%;">
                <thead>
                    <tr>
                    <th></th>  
                    <th></th>
                    <th></th>
                    <th>Type 1</th>
                    <th>Type 2</th>
                    <th>Total</th>
                    <th>HP</th>
                    <th>ATK</th>
                    <th>DEF</th>
                    <th>SP ATK</th>
                    <th>SP DEF</th>
                    <th>SPD</th>
                    <th>GENERATION</th>
                    <th>LEGENDARY</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="../static/js/roster_select.js"></script>
  <script src="https://d3js.org/d3.v5.min.js"></script>
  <script src="https://d3js.org/d3.v6.min.js"></script>

  

</body>

</html>