<!DOCTYPE html>
<html lang="en-us">
<head>
  <meta charset="UTF-8">
  <title>Poke Fight II</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="static/css/style.css">


</head>

<body>

  <h1 id="nplayers">{{nplayers}}</h1>
  <h1 id="npoke">{{npoke}}</h1>
  <h1 id="weight_class">{{weight_class}}</h1>
  <h1 id="gen">{{gen}}</h1>

  <script src="../static/js/roster_select.js"></script>
  <script src="https://d3js.org/d3.v5.min.js"></script>
  <script src="../static/js/roster_select.js"></script>
  <script src="https://d3js.org/d3.v6.min.js"></script>

</body>

</html>