<!DOCTYPE html>
<html lang="en-us">
<head>
  <meta charset="UTF-8">
  <title>Poke Fight II</title>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="static/css/style.css">

    <!--NAVBAR--------------------------------------------------------------------->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/" style="color:gold;">Poke Fight II</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
    
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="/" id="navolink">Play</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/pokedex" id="navolink">Pokedex</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/types" id="navolink"><u>Types</u></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/info_menu" id="navolink">Info</a>
            </li>
          </ul>
        </div>
      </nav>
    <!--NAVBAR END------------------------------------------------------------------->

</head>


<body id="body">

<div class="container-fluid">
   <!-- Tab links -->
  <div class="tab">
    <button class="tablinks" onclick="openCity(event, 'single_type')">Single Type Matchups</button>
    <button class="tablinks" onclick="openCity(event, 'dual_type')">Dual Type Matchups</button>
  </div>

  <!-- Single Type Table -->
  <div id="single_type" class="tabcontent">
    <div class="row">
      <div class="col-md-12">
        <div clas="row" id="filterbtns">
          Left Type is Attacker; Top is Defender; Number is Damage Coeffecient for Attack
        </div>
        <div class="tablewrapper">
          <table class="table" id="single_type_table" style="width:100%;">
              <thead>
                  <tr>
                  <th></th>
                  <th id="typesheader"><img src="static/images/type_imgs/normal.png" id="typeimg">Normal</th>
                  <th id="typesheader"><img src="static/images/type_imgs/fighting.png" id="typeimg">Fighting</th>
                  <th id="typesheader"><img src="static/images/type_imgs/flying.png" id="typeimg">Flying</th>
                  <th id="typesheader"><img src="static/images/type_imgs/poison.png" id="typeimg">Poison</th>
                  <th id="typesheader"><img src="static/images/type_imgs/ground.png" id="typeimg">Ground</th>
                  <th id="typesheader"><img src="static/images/type_imgs/rock.png" id="typeimg">Rock</th>
                  <th id="typesheader"><img src="static/images/type_imgs/bug.png" id="typeimg">Bug</th>
                  <th id="typesheader"><img src="static/images/type_imgs/ghost.png" id="typeimg">Ghost</th>
                  <th id="typesheader"><img src="static/images/type_imgs/steel.png" id="typeimg">Steel</th>
                  <th id="typesheader"><img src="static/images/type_imgs/fire.png" id="typeimg">Fire</th>
                  <th id="typesheader"><img src="static/images/type_imgs/water.png" id="typeimg">Water</th>
                  <th id="typesheader"><img src="static/images/type_imgs/grass.png" id="typeimg">Grass</th>
                  <th id="typesheader"><img src="static/images/type_imgs/electric.png" id="typeimg">Electric</th>
                  <th id="typesheader"><img src="static/images/type_imgs/psychic.png" id="typeimg">Psychic</th>
                  <th id="typesheader"><img src="static/images/type_imgs/ice.png" id="typeimg">Ice</th>
                  <th id="typesheader"><img src="static/images/type_imgs/dragon.png" id="typeimg">Dragon</th>
                  <th id="typesheader"><img src="static/images/type_imgs/dark.png" id="typeimg">Dark</th>
                  <th id="typesheader"><img src="static/images/type_imgs/fairy.png" id="typeimg">Fairy</th>
                  </tr>
              </thead>
              <tbody id="single_type_body"></tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <!-- Dual Type Table -->
  <div id="dual_type" class="tabcontent">
    <div class="row">
      <div class="col-md-12">
        <div clas="row" id="filterbtns">
          Left Type is Attacker; Top is Defender; Number is Damage Coeffecient for Attack
        </div>
        <hr>
        <div clas="row" id="filterbtns">
          <label for="weight">Select Type 1</label>
          <select id="weight_filter" name="weight">
            <option value="normal">Normal</option>
            <!-- ADD THE OTHER TYPES HERE -->
          </select>
        </div>
        <div class="tablewrapper">
          <table class="table" id="dual_type_table" style="width:100%;">
              <thead>
                  <tr>
                  <th></th>
                  <th id="typesheader"><img src="static/images/type_imgs/normal.png" id="typeimg">Normal</th>
                  <th id="typesheader"><img src="static/images/type_imgs/fighting.png" id="typeimg">Fighting</th>
                  <th id="typesheader"><img src="static/images/type_imgs/flying.png" id="typeimg">Flying</th>
                  <th id="typesheader"><img src="static/images/type_imgs/poison.png" id="typeimg">Poison</th>
                  <th id="typesheader"><img src="static/images/type_imgs/ground.png" id="typeimg">Ground</th>
                  <th id="typesheader"><img src="static/images/type_imgs/rock.png" id="typeimg">Rock</th>
                  <th id="typesheader"><img src="static/images/type_imgs/bug.png" id="typeimg">Bug</th>
                  <th id="typesheader"><img src="static/images/type_imgs/ghost.png" id="typeimg">Ghost</th>
                  <th id="typesheader"><img src="static/images/type_imgs/steel.png" id="typeimg">Steel</th>
                  <th id="typesheader"><img src="static/images/type_imgs/fire.png" id="typeimg">Fire</th>
                  <th id="typesheader"><img src="static/images/type_imgs/water.png" id="typeimg">Water</th>
                  <th id="typesheader"><img src="static/images/type_imgs/grass.png" id="typeimg">Grass</th>
                  <th id="typesheader"><img src="static/images/type_imgs/electric.png" id="typeimg">Electric</th>
                  <th id="typesheader"><img src="static/images/type_imgs/psychic.png" id="typeimg">Psychic</th>
                  <th id="typesheader"><img src="static/images/type_imgs/ice.png" id="typeimg">Ice</th>
                  <th id="typesheader"><img src="static/images/type_imgs/dragon.png" id="typeimg">Dragon</th>
                  <th id="typesheader"><img src="static/images/type_imgs/dark.png" id="typeimg">Dark</th>
                  <th id="typesheader"><img src="static/images/type_imgs/fairy.png" id="typeimg">Fairy</th>
                  </tr>
              </thead>
              <tbody id="dual_type_body"></tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
<!-- Close Container -->
</div>


<script src="https://d3js.org/d3.v6.min.js"></script>
<script src="https://d3js.org/d3.v5.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.7.1/d3-tip.min.js"></script>
<script src="../static/js/types.js"></script>
<script src="../static/js/types_highlight.js"></script>

</body>

</html>